
body {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
}

.label {
    position: relative;
    padding: 10px;
    background: lightgray;
    cursor: pointer;
}

.label::before{
    content: "+";
    position: absolute;
    top: 30%;
    right: 20px;
    font-size: 1em;

}
.info {
    position: relative;
    height: 0;
    overflow-y: auto;
    transition: .3s;

}

.box.active .info{
    height: 100px;
    padding: 5px;
}